@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.screen-disabled{
    display: none !important;
}

.intro-container, .game-container{
    display: grid;
    place-items:center;
    padding: 20px;
}

.intro-header-container, .game-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.game-title{
    font-size: 4.5rem;
    font-weight: 700;
    padding: 20px;
}

.intro-pvp-container{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    height: 300px;
}

.player-one-input, .player-two-input{
    border: none;
    font-size: 5rem;
    width: 9ch ;
    /* min-width: 50px; */
    /* max-width: 100%; */
}

.player-one-input{
    align-self: start;
    justify-self: end;
}

.versus{
   place-self: center;
   font-size: 3.5rem;
}

.player-two-input{
    margin-left: 20px;
    align-self: end;
    justify-self: start;
}

.intro-initializer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-top: 70px;
}

.start-btn{
    font-size: 3rem;
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 10px;
    border: none;
    background-color: darkolivegreen;
    color: bisque;
}

.notice{
    font-size: 1.6rem;
    color: gray;
}

.turn-display{
    font-size: 2.6rem;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
    margin-bottom: 15px;
}

.gameBoard{
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.0rem;
    background-color: #F3F4F6;
    border-radius: 10px;
}

.game-stats-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.game-stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    margin: 20px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color:khaki;
    padding: 20px 60px;
    border-radius: 10px;
}

.player-title{
    font-size: 2.2rem;
    font-weight: 300;
}

.player-score{
    font-size: 3.5rem;
    font-weight: 600;
}

.endgame-dialog-modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.endgame-announcement{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.winner-announcement{
    font-size: 2.6rem;
}

.play-again-btn{
    background-color: seagreen;
    border: none;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 20px 70px;
    border-radius: 10px;
}    