@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard{
    display: grid;
    width: 484px;
    height: 484px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid black;
}

.field{
    font-size: 6.0rem;
    text-align: center;
    border: 2px solid black;
}